.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(4,25vh) 15vh 15vh;
    gap: 10px 15px;
}
.parca{
    background-color: yellowgreen;
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parca1{
    background-color: pink;
/* 1. column basla 3 column a kadar (3 dahil degil) buyutur */

    grid-column-start: 1;
    grid-column-end: 3;
}
.parca4{
    background-color: orange;
    grid-row-start: 2;
    grid-row-end: 4;
/* 2. row dan 4. row a kadar genisletir. (4 dahil degil) */
}

.parca6{
    background-color: rgb(210, 43, 210);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    /* kisa yol */
    grid-area: 2 / 3 /span 2/span 2;

    /* yukaridaki bölümlerin anlami;
        2: baslangic row / 3: baslangic columnu/ span 2: rowda kac tane/span 2: columnda kac tane */
}
.parca8 {
    background-color: yellow;
    /* grid-row:5; */

    grid-column-start: 1;
    grid-column-end: 3;
}

.parca9{
    background-color: aqua;
    /* grid-row-start:4;
    grid-row-end: 6;
    grid-column: 3; */

    grid-area: 4 / 3 /span 2/span 1;
}