.yazi {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}

.yazi1 {
    background-color: yellowgreen;
    transform: rotateX(150deg);
}

.yazi2 {
    background-color: rgb(205, 50, 187);
    transform: rotateY(60deg);
}

.yazi3 {
    background-color: aqua;
    transform: rotateZ(10deg);
}

.yazi4 {
    background-color: violet;
}

.yazi5 {
    background-color: green;
}

/******************** SCALE *************/
.yazi4:active {
    transform: scale(2, 0.5);
}


.yazi5:hover {
    transform: scaleY(0.5)
}



.box {
    background-color: crimson;
    width: 100px;
    font-weight: 800;
    height: 50px;
    margin: 50px;
    padding: 10px;

    /*******************TRANSİTİON*/
    transition: transform 5s;
}

.x:hover {
    transform: translateX(50px);
}

/* 50px sağa git */
.y:hover {
    transform: translateY(-50px);
    /* - olduğu için 50px yukarı git. + olsaydı aşağı giderdi */
}

.xy:active {
    transform: translate(50px, -50px);
}

.btn-div {
    text-align: center;
}

.btn {
    background-color: rgb(8, 129, 170);
    border: 2px solid gray;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: burlywood;
    color: white;
    font-size: 5rem;
    transition: background-color 1s, color 5s, font-size 4s;
    transition: background-color 1s, color 5s, font-size 4s ease-in 1s;
    transition: all 4s ease-in 1s;
    /* 1sn bekle sonra yavaşça 4sn de font-size değişsin */
}