.container {
    background-color: rgb(255, 157, 175);
    width: 80%;
    height: 80%;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;

}

.erste,
.zweite,
.dritte,
.vierte,
.fünfte {
    width: 100%;
    display: inline-block;
}


.box1 {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(59, 57, 57);
    float: left;
    color: rgb(226, 234, 240);
}

.box1,
.box2,
.box3 {
    float: left;
}

.box4,
.box5,
.box6{
    float: right;
}

.box8,
.box11,
.box13,
.box15,
.box16,
.box17{
    float: right;
}